@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 0.4rem;
    font-family: JetBrains Mono;
    font-size: 1.2rem; 
}

.hero-img{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('images/Group\ 1Hero.png');
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.container1{
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 1rem;
    
}

.text1 p{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke; 
    font-size: 20px;
    line-height: 40px;
    
}
.container1 img{
    height: 40vh;

}

.text2a{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    line-height: 0.6;
    font-size: 60px;
}
.container2{
    display: flex;
    flex-direction: column;
    
    
}
.text2b{
    position: relative;
    bottom: 4.7rem;
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
    font-style: normal;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5px;
    line-height: 18px;
    
    
    
}
.my-btn{

    position: relative;
    bottom: 30px;
    left: 220px;
    background-color: #3A4D39;
    color: whitesmoke;
    border-radius: 23px;
    font-family: "Luxurious Roman", serif;
    width: 110px;
    padding: 5px 15px;
    border: none;
    height: 45px;
    font-size: 20px;
    
}


.container3 img{
    position: absolute;
    top: 1;
    right: 0;
    height: 40vh;
    padding: 1rem;
    
}

.text3{
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
    font-style: normal;
    color: whitesmoke;
    position: absolute;
    top: 27rem;
    right:2rem;
    line-height: 15px;
}

.Shop-text{
    text-align: center;
    color:black;
    font-family: "Luxurious Roman", serif;
    font-size: 40px;
    font-weight: 500;
    margin-top: 43px;
    margin-bottom: 40px;
}

.c {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 70%;
    max-width: 700px;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
    height: 500px;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    /* padding-top: 200px;
    margin-top: 200px; */
}

.carousel-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    right: 100;
    position: relative;
}

.carousel-dot.active {
    background-color: #717171;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 100%;
    padding: 0 20px;
    gap: 50px;
}

.image-caro {
    height: 500px;
    border-radius: 10px;
    width: 400px;
    
}


.Name{
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
    font-weight: 700;
    color: #37714a;
    

}

.aboutUs-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    gap: 70px;
    
}

.About-us{
    font-family: "Luxurious Roman", serif;
    font-size: 30px;
    padding-top: 3rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    
    
}
.abt-text{
    padding-top: 2.5rem;
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
    line-height: 20px;
    color: #37714a;
    font-weight: 530;
    padding-right: 8rem;
    
}

.abt-img{
    border-radius: 10px;
    padding-top: 2rem;
    padding-left: 12rem;
    
}


.footer-container{
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('images/footer.png');
    height: 395px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;  
    padding-right: 1rem;
    padding-top: 3rem;
    
}

.footer1{
    display: flex;
    flex-direction: column;
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
    line-height: 20px;

}

.footer2{
    display: flex;
    flex-direction: column;
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
    line-height: 20px;

}

.footer3{
    display: flex;
    flex-direction: column;
    font-family: "Luxurious Roman", serif;
    font-size: 20px;
    line-height: 20px;

}






